body{
margin:0;
font-family:Arial;
background:#000;
color:#fff;
scroll-behavior:smooth;
}

nav{
position:fixed;
top:0;
width:100%;
background:#000;
padding:10px;
text-align:center;
z-index:100;
}

nav a{
color:#00e5ff;
margin:0 15px;
text-decoration:none;
}

section{
min-height:100vh;
padding:100px 20px;
text-align:center;
}

h1,h2{color:#00e5ff;}

.foto{
width:220px;
border-radius:50%;
}

.glow{
animation:glow 2s infinite alternate;
}

@keyframes glow{
from{box-shadow:0 0 10px #00e5ff;}
to{box-shadow:0 0 40px #00e5ff;}
}

.rotate{
animation:spin 12s linear infinite;
}

@keyframes spin{
to{transform:rotate(360deg);}
}

.about-box{
display:flex;
gap:30px;
align-items:center;
max-width:900px;
margin:auto;
}

.card-box{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
border:2px solid #00e5ff;
padding:20px;
cursor:pointer;
transition:.3s;
}

.card:hover{
box-shadow:0 0 25px #00e5ff;
transform:scale(1.1);
}

.detail{
display:none;
}

.detail img{
width:300px;
border-radius:15px;
box-shadow:0 0 30px #00e5ff;
}

.social a{
color:#00e5ff;
font-size:40px;
margin:15px;
transition:.3s;
}

.social a:hover{
transform:scale(1.3);
text-shadow:0 0 20px #00e5ff;
}